*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    font-family: Lato, sans-serif;
    background: linear-gradient(to right, #ffefba, #ffffff); 
    padding: clamp(20px, 5vw, 50px) 20px 10px;
}

h1{
    font-family: Raleway;
    text-align: center;
    font-weight: 300;
    font-size: 3em;
}

h1 span{
    font-weight: 500;
}

.form{
    max-width: 600px;
    margin: 60px auto 20px;
    display: flex;
    flex-direction: column;
}

label{
    font-weight: 600;
    margin-bottom: 5px;
}

input{
    margin-bottom: 25px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    outline: none;
    max-width: 100%;
    padding: 10px;
    font-size: 18px;
}

.container{
    display: flex;
    justify-content: center;
}

button{
    cursor: pointer;
    width: 100px;
    padding: 10px 0;
    font-size: 20px;
    margin: 0 10px;
    border: none;
    color: #613d30;
    border-radius: 5px;
    background: #ffb900;
    transition: 0.3s;
    font-family: Raleway, sans-serif;
}

button:hover{
    transform: scale(1.05);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    font-weight: 600;
}

.container1{
    max-width: 800px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container1 .block{
    position: relative;
    width: 300px;
    height: 100px;
    background: rgb(255, 255, 255);
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}



.container1 .block p{
    margin-bottom: 10px;
    font-size: 18px;
}
.container1 .block p span{
    font-weight: 600;
}
.container1 .block .delete-button{
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 5px;
    top: 10px;
    right: 10px;
    color: white;
    cursor: pointer;
}


.toast{
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.toast-block{
    font-size: 17px;
    color: #f1f1f1;
    padding: 10px;
    margin: 10px 0;
    min-width: 150px;
    border-radius: 5px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}
.cookies-list{
    font-size: 40px;
    list-style-type: none;
    margin: 10px auto;
    padding: 5px auto;
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;
}

.cookies-list li{
    font-size: 18px;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    background: #fff;
    margin: 10px;
    position: relative;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.cookies-list li p{
    margin: 10px 0;
}
.cookies-list li span{
    font-weight: 600;
}
.cookies-list li button{
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 7px;
    background-color: crimson;
    color: #f1f1f1;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-txt{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}



